/* nav start */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgba(173, 216, 230, 0.226);
}
.aniket{
    height: 7vw;
    
}
.mylogo{
    margin-left: 6vw;
    height: 6vw;
    width: 6vw;
}
.navbar-nav{
    margin-left: 7vw;


}

.nav-link{
    margin-left: 2.5vw;
    color: black; 
    

}
.nav-link:hover{
    color: rgba(255, 0, 0, 0.651);
background-color: rgba(173, 216, 230, 0.226);
}
.ico{
    margin-left: 4vw;
}
/* /nav end */

.div1{
    margin-top: 7.1vw;
}
/* slider */

.carousel-item{
    height: 100%;
    width: 100%;
}
/* /slider end */

p{
    font-family:Garamond, serif;
}


/* card */
.btno{
    margin-left: 2vw;
    margin-top: 2vw;
}

.btnoo{
    margin-left: 2vw;
    margin-top: 0.7vw;
}
.btnooo{
    margin-left: 2vw;
    margin-top: .7vw;
}
.btnoooo{
    margin-left: 2vw;
    margin-top: .7vw;
}
.ml-1 {
    margin-left: 5.5vw;
    
  }

  .cardd2{
      height: 60px;
      width: 60px;
    
      margin-left: 4vw;
      margin-top:1.5vw ;
      
  }
 
  
  .cardd{
      
    
      margin-left: 3.6vw;
      margin-top:1vw ;
      
  }
  .carddd{
      margin-top: 1.5vw;
    text-align: center;
    padding: 1vw 1vw 1.5vw 1vw;
      
  }
  .aa{
      color:rgba(255, 166, 0, 0.699);
  }
  .aa:hover{color: rgba(255, 0, 0, 0.493);

  }



  /*...................................................../card end...........................................
   */



   /* aniket kumar impontent here Book appoinment .......................................................................*/


   /* footer */
   
   a{
       color: black;
       text-decoration: none;
   }
   a:hover{
       color: rgb(189, 6, 6);
       
   }
  
  
  .ftr2{
      margin-left: 2.1vw;
    margin-top: 5vw;
  }
.photo{
    height: 15vw;
}
.line{
    width: 7vw;
    height: 2vw;
    border: 2px solid black;
}
.abhi{
    height: 42vw;
    margin-top: 5vw;
}
.monu{
    line-height: 2.1vw
}
.sonu{
    line-height: 4.4vw;
}
.foot-social{

    margin-bottom: 1vw;
    margin-top: -5vw;
}
#copyy{

    color: blanchedalmond;
    background-color: black;
    text-align: center;

}
                   /* contect===============================================================
                   ===================================================================================
                   =====================================================================================
                   =================================== */



.contact2{
    background-color: rgba(173, 216, 230, 0.836);
    height: 15vw;
}
.hhh{
    height: 15vw;
  
}
.ps{
    font-size: 1.4vw;
}

.foot-logo{
    height: 7vw;
    width: 7vw;
}
.map2{
    height: 40vw;
    width: 86vw;
    margin-left: 7vw;
    border:8px solid white;
}

/*  ................................................./contact...........................................*/

/* service */

.asd{
    margin-left: 3vw;
    margin-top: 3vw;
}

.bcd{
    margin-left: 1.5vw;
}

/* /service */
.doctor{
    width: 90%;
    margin-left: 1.5vw;
    margin-top: 1.5vw;
}
.doctor2{
    width: 320px;
    height: 250px;

}
.doctor:hover{
  
    border: 4px solid rgba(255, 0, 0, 0.651);
}


.qwe{
    margin-left: 6vw;
}

/* .........................gellary............................ */


.gallery-box{
	padding: 70px 0px;
}

.box-gallery{
    text-align: center;
    box-shadow: 0 0 5px #7e7d7d;
    position: relative;
	margin-bottom: 30px;
}
.box-gallery img{
    width: 100%;
    height:17vw;
}
.box-gallery .box-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.box-gallery:hover .box-content{
    background-color: rgba(255, 242, 242, 0.8);
}
.box-gallery .box-content:before,
.box-gallery .box-content:after{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.6s ease 0.3s;
}
.box-gallery .box-content:before{
    border-left: 2px solid #00cb86;
    border-top: 2px solid #00cb86;
    top: 19px;
    left: 19px;
}
.box-gallery .box-content:after{
    border-bottom: 2px solid #00cb86;
    border-right: 2px solid #00cb86;
    bottom: 19px;
    right: 19px;
}
.box-gallery:hover .box-content:before,
.box-gallery:hover .box-content:after{
    opacity: 1;
    transform: scale(1);
}
.box-gallery .title{
    font-size: 22px;
    color: #333333;
    margin: 0;
    position: relative;
    top: 0;
    opacity: 0;
    transition: all 1s ease 0.01s;
}
.box-gallery:hover .title{
    top: 32%;
    opacity: 1;
    transition: all 0.5s cubic-bezier(1, -0.53, 0.405, 1.425) 0.01s;
}
.box-gallery .title:after{
    content: "";
    width: 0;
    height: 2px;
    background: #00cb86;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1s ease 0s;
}
.box-gallery:hover .title:after{
    width: 80%;
    transition: all 1s ease 0.8s;
}
.box-gallery .icon{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(1, -0.53, 0.405, 1.425);
    transition-delay: 0.1s;
}
.box-gallery:hover .icon{
    bottom: 32%;
    opacity: 1;
}
.box-gallery .icon li{
    display: inline-block;
}
.box-gallery .icon li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    color: #000;
    border: 2px solid #12557f;
    margin-right: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.box-gallery .icon li a:hover{
    background: #00cb86;
    color: #fff;
}
.footermap{
    display: none;
}
.container-fluid{
    width: 100%;
}
footer{
    width: 100%;
}
.hover1:hover{
    border: 10px solid transparent;
}
@media only screen and (max-width:990px){
    .box-gallery{ margin-bottom: 30px; }
}
/* .........................................about................................................... */


.img-box {
    margin-left: 7vw;
    position: relative;
    padding-left: 30px;
    margin-bottom: 50px;
}
.img-box:before {
    content: '';
    width: calc(100% - 2em);
    height: 100%;
    background: #831c3c;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: -1;
}
.immmmm{
    height: 350px;
    width: 450px;
}

.hyt{
    margin-left: 8vw;
}
.hyt2{
    margin-left: 8vw;
} 
 .hyt3{
    margin-left:-12vw ;
}
  /* ============================================================================================================
  ------------------------------------mobile view ---------------------------------------------------------------
  =============================================================================================================== */
 @media screen and (max-width:767px){

    .col-md-2{
        margin-left: 0vw;
        height:50vw;
        margin-top:3vw;
    }
.cardd2 {
    height: 50px;
    width: 50px;
    margin-left: 35.5vw;
    margin-top: 12vw;
}
    .mylogo{
        width: 20vw;
        height: 20vw;
        
        margin-left: 1VW;
    }
    .imf-fluid{
        width: 20vw;
        height: 15vw;
    }
    .photo{
        height: 50vw;
    }
    .line{
        width: 19vw;
        height: 2vw;
        border: 2px solid black;
    }
    .abhi{
        height: 155vw;
        margin-bottom: 5vw;
    }
    .mt-5 {
    margin-top: 0rem!important;
}
    .monu{
        line-height: 10vw
    }
    .sonu{
        line-height: 10.4vw;
    }
    .aniket{
        height: 15vw;
    }
    .contact2 {
        background-color: rgba(173, 216, 230, 0.836);
        height: 50vw;
    }
    .hhh {
        height: 40vw;
    }
    .foot-logo{
        height: 17vw;
        width: 17vw;
    }
    .ps {
        font-size: 4.5vw;
        
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
        margin-top: 4vw;
    }
    .iamfluid {
        width: 100%;
        height: 95vw;
        margin-top: 4vw;
    }
    .motuji{
        width: 60%;
        margin-left: 20%;
        margin-top: -5vw;
        margin-bottom: 5vw;
    }
    .nav-link {
        margin-left: -13.5vw;
        width: 100vw;
    }
    .navbar-nav .nav-link{
        padding-left: 17vw
    }
    .don{
        margin-top: -5vw;
    }
    .donn{
        margin-top: 7vw;
    }
    .goa{
        display: block;
        font-size: 5vw;
        margin-top: 25vw;
    }
    .mohit {
        width: 100%!important;
        margin-top: 15vw;
    }
    .aniket {
        height: 24vw!important;
    }
    .monkey{
        width: 98vw;
        margin-left: auto;
        margin-right: auto;
    }
    #mp{
        margin-top: 8vw;
    }
    
.btno {
    margin-left: 18vw;
    margin-top: 2vw;
}
.btnoo {
    margin-left: 17vw;
    margin-top: 3.7vw;
}
.btnooo {
    margin-left: 17vw;
    margin-top: -2vw;
}
.btnoooo {
    margin-left: 17vw;
    margin-top: 10vw;
}
.photo1{
    height: 65vw;
}
.underline{
    text-decoration-line: underline;
  text-decoration-style: double;
    line-height: 7vw;
}
.underline:hover{
    color: red;
}
.height-base{
    margin-top: -18vw !important;
}
.height-boss{
    margin-top: -10vw !important;
    margin-left: 3vw;
    width: 90vw;
}
.rnps{
    width: 40vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    border: 1px solid rgb(121, 25, 25);
}
.rnps:hover{
    border: 1px solid rgb(255, 0, 0);
}
.height-logo{
    margin-top: 1vw !important;
    margin-bottom: -1vw !important;
}
    /* gallary photo */
    .box-gallery img{
        width: 100%;
        height:55vw;
    }    
    /* google map in mobile view */
    .map2 {
        height: 94vw;
        width: 94vw;
        margin-left: 4vw;
        border: 8px solid white;
        margin-bottom: 5vw;
    }
    .footermap{
        display: block;
        margin-left: -3vw;
        margin-right: 1vw;
        margin-top: -10vw;
        border: 5px solid rgb(238, 238, 238);
    }
    .appoi {
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 6vw;
    }
    footer {
        width: 96vw;
        margin-left: 2vw;
    }
    .hyt3 {
        margin-left: 0vw;
    }
    .img-box {
        margin-left: 5vw;
        position: relative;
        padding-left: 30px;
        margin-bottom: 50px;
        margin-right: 5vw;
    }
    .poori{
        font-size: 5vw;
    }
    .ppoj{
        font-size: 4vw;
    }
 }
 /* =================================================================================================================
 ====================================MOTO G4 PHONE  AN GLAXY S5================================================================== */
 @media screen and (min-width:360px) and (max-width:640px){
     /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\HOME PAGE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
    .motuji {
        width: 60%;
        margin-left: 20%;
        margin-top: 0vw;
        margin-bottom: 8vw;
    }
    .text-dark {
        margin-top: 8vw;
    }


    /* ////////////////////////////ABOUT PAGE//////////////////////////////// */
    .doctor {
        width: 90%;
        margin-left: 4.5vw;
        margin-top: 4.5vw;
    }
    .qwe {
        margin-left: 0vw;
    }
    .myname{
        margin-top: 25vw;
    }
    /* //////////////////////////////SERVICE PAGE//////////////////////////////// */
    .servapp{
        margin-left: 29%;
        margin-right: 29%;
        margin-bottom: 8vw;
    }
    /* ///////////////////////////////APPOINMENT PAGE/////////////////////////////// */
    .fa-5x {
        font-size: 5em;
        margin-left: 8rem;
    }
    /* //////////////////////////////////CONTACT PAGE///////////////////////////////// */

   
      /* //////////////////////////////////GALLARY PAGE///////////////////////////////// */
    
    
 }
  /* =================================================================================================================
 ====================================PIXEL 2 AND PIXEL 2XL================================================================== */
 @media screen and (min-width:411px) and (max-width:731px){
       /* //////////////////////////////////HOME PAGE///////////////////////////////// */
       .abhi {
        height: 145vw;
        margin-bottom: 5vw;
    }
    .btno {
        margin-left: 20vw;
        margin-top: 0vw;
    }
    .btnoo {
        margin-left: 20vw;
        margin-top: 9.7vw;
    }
    .btnooo {
        margin-left: 20vw;
        margin-top: -7vw;
    }
    .btnoooo {
        margin-left: 20vw;
        margin-top: 11vw;
    }
    /* //////////////////////////////////ABOUT PAGE///////////////////////////////// */
    .myname {
        margin-top: 22vw;
    }

    /* //////////////////////////////////SERVIC PAGE///////////////////////////////// */

    /* //////////////////////////////////APPINMENT PAGE///////////////////////////////// */

    /* //////////////////////////////////CONTACT PAGE///////////////////////////////// */

    /* //////////////////////////////////GALLARY PAGE///////////////////////////////// */
 }
 /* =================================================================================================================
 ====================================IPHONE 5/SE================================================================== */
 @media screen and (min-width:320px) and (max-width:568px){
    /* //////////////////////////////////HOME PAGE///////////////////////////////// */
    .abhi {
        height: 170vw;
        margin-bottom: 0vw;
    }
    .btno {
        margin-left: 15vw;
        margin-top: 1vw;
    }
    .btnoo {
        margin-left: 15vw;
        margin-top: 0vw;
    }
    .btnooo {
        margin-left: 15vw;
        margin-top: -2vw;
    }
    .btnoooo {
        margin-left: 15vw;
        margin-top: 17vw;
    }
    /* //////////////////////////////////ABOUT PAGE///////////////////////////////// */
    .myname{
        margin-top: 25vw;
    }
    /* //////////////////////////////////SERVICE PAGE///////////////////////////////// */
    .doctor {
        width: 90%;
        margin-left: 4.5vw;
        margin-top: 4.5vw;
    }
    .qwe {
        margin-left: 0vw;
    }
    .servapp{
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 8vw;
    }
         /* //////////////////////////////////APPONMENT PAGE///////////////////////////////// */
    .fa-5x {
        font-size: 5em;
        margin-left: 7rem;
    }
    .appoi {
        margin-left: 24%;
        margin-right: 22%;
        margin-bottom: 6vw;
    }
    /* //////////////////////////////////CONTACT PAGE///////////////////////////////// */

    /* //////////////////////////////////GALLARY PAGE///////////////////////////////// */
 }
  /* =================================================================================================================
 ====================================IPHONE 6/7/8================================================================== */
 @media screen and (min-width:375px) and (max-width:667px){
    /* //////////////////////////////////HOME PAGE///////////////////////////////// */
    .abhi {
        height: 150vw;
        margin-bottom: 0vw;
    }
    .btnoo {
        margin-left: 15vw;
        margin-top: 8vw;
    }
    .btnoooo {
        margin-left: 15vw;
        margin-top: 13vw;
    }
    /* //////////////////////////////////ABOUT PAGE///////////////////////////////// */

    /* //////////////////////////////////SERVICE PAGE///////////////////////////////// */

    /* //////////////////////////////////APPOINMENT PAGE///////////////////////////////// */
    .appoi {
        margin-left: 27%;
        margin-right: 28%;
        margin-bottom: 6vw;
    }
     /* //////////////////////////////////CONTACT PAGE///////////////////////////////// */

      /* //////////////////////////////////GALLARY PAGE///////////////////////////////// */
 }
 @media screen and (min-width:540px) and (max-width:720px){
    /* //////////////////////////////////HOME PAGE///////////////////////////////// */
    .photo {
        height: 75vw;
    }
    .monu {
        line-height: 10vw;
        font-size: 4vw;
    }
    .btno {
        margin-left: 26vw;
        margin-top: 1vw;
    }
    p {
        font-family: Garamond, serif;
        font-size: 4.5vw;
        line-height: 12vw;
    }
    .btnoo {
        margin-left: 26vw;
        margin-top: 4vw;
    }
    .btnooo {
        margin-left: 26vw;
        margin-top: 0vw;
    }
    .btnoooo {
        margin-left: 28vw;
        margin-top: 15vw;
    }
    .cardd2 {
        height: 50px;
        width: 50px;
        margin-left: 40.5vw;
        margin-top: 12vw;
    }
    /* //////////////////////////////////about PAGE///////////////////////////////// */

    /* //////////////////////////////////SERVICE PAGE///////////////////////////////// */
    .servapp {
        margin-left: 36%;
        margin-right: 35%;
        margin-bottom: 8vw;
    }
     /* //////////////////////////////////APPOINMENT PAGE///////////////////////////////// */
     .fa-5x {
        font-size: 5em;
        margin-left: 13rem;
    }
    .appoi {
        margin-left: 34%;
        margin-right: 35%;
        margin-bottom: 6vw;
    }
     /* //////////////////////////////////contact PAGE///////////////////////////////// */

      /* //////////////////////////////////gallary PAGE///////////////////////////////// */
 }
 