img{
    width: 100%;
    height: auto;
}

.nav{
    height: 6vw;
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: 0px 2px 2px rgb(204, 204, 204);
    position: fixed;
}
body{
    margin: 0px;
    padding: 0;
}

.size{
    width: 7vw;
    height: auto;
    margin-left: 8vw;
    overflow: hidden;
    margin-top: .5vw;
    margin-bottom: -1vw;
    
}
ul{
    display: flex;
    width: 100%;
    list-style: none;
    margin-left: 6vw;
    font-size: large;
    text-decoration: none;
    float: left;
    margin-top: 1vw;

}
li{
    margin-left: 3vw;
    margin-top: .2vw;
}

.list2{
    float: left;
    display: flex;
    margin-top: 1vw;

   

    

}

.list{
    margin-left: 10vw;
    display: flex;
    font-size: 1.3vw;
    margin-top: 1vw;
}

.list li:hover{
    font-size: 1vw;
    border: none;
   
}

i:hover{
    color: brown;
}

 .textdeco{ 
    text-decoration: none;
    color: black;
    font-weight: 500;
   
}
li:hover{
    color: tomato;
    border-bottom: .2vw solid tomato;
    padding-bottom: .1vw;
    
}

i{
    color: tomato;
}

.img44{
    width: 8vw;
    height: auto;
    margin-top:3vw;
    margin-left: 5vw;
}
.top{
    display: flex;
    background-color:cornflowerblue;
    height: 18vw;
    margin-top: -10vw;
    width: 100vw;
}
.top1{
    margin-top:3vw;
    font-size: 1vw;
    margin-left: 3vw;
}

.non1{
    margin-top:1vw ;
}

.non2{
    margin-top:3.5vw ;
}

.non3{
    margin-top:3.5vw ;
}

.non4{
    margin-top:1vw ;
}

#head-img{
    width:100vw;
    height:  60vw;
}

.dec{
   text-decoration: none;
   font-size: 1.3vw;
   color: #000;
   
}

.dec:hover{
    color: rgb(255, 255, 255);
}

h5 {
    font-size: 1.2vw;
    color: rgb(0, 0, 0);
    margin-bottom: 1vw;
 }

 
 /* hshjgfkdyuljksa.gh,mndvlcsafudblgjdsah;fr7iyuhsajdjlsyfh */

 
* {
    margin: 0%;
    padding: 0%;
}

#box {
    width: 80vw;
    height: 40vw;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 3vw;
    display: flex;
}

.boxs {
    width: 20vw;
    height: 40vw;
    border: 1px solid black;
    margin-left: 1vw;
    background-color: cornflowerblue;
    border-radius: 1vw;
}

.box-img {
    width: 20vw;
    height: 15vw;
}

.img {
    width: 20vw;
    height: 15vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.box-heading {
    width: 20vw;
    height: 5vw;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    margin: 1vw;
}

hr {
    width: 5vw;
    margin-left: 1vw;
    border: 1px solid black;
    background-color: black;
}

.sub-header {
    width: 20vw;
    height: 4.5vw;
    margin-top: 0.5vw;
}

.sub {
    text-transform: capitalize;
    font-size: 1.5vw;
    margin-left: 1vw;
    color: blanchedalmond;
    text-decoration: none;
}

.box-content {
    width: 20vw;
    height: 11vw;
}

.style {
    margin-left: 1.3vw;
    margin-right: 1.3vw;
    font-size: 1vw;
}

.but {
    width: 20vw;
    height: 3vw;
}

button {
    width: 15vw;
    height: 3VW;
    margin: 0vw 2.5vw;
    border-radius: 5vw;
    border: 1px solid rgb(58, 56, 56);
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
    

}

button:hover {
    background-color: rgb(192, 186, 179);
    transition: 1s;
}

#last {
    height: 18vw;
    width: 4vw;
    margin-top: 2vw;
}

#last1 {
    width: 16vw;
    height: 18vw;
}
#main{
    width: 100vw;
    height: 22vw;
    margin-top: 5vw;
}
*{
    margin: 0%;
    padding: 0%;

}
.head{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#mp{
    width: 85vw;
    height: 20vw;
    margin: 0% auto;
    display: flex;
}
.row{
    width: 20vw;
    height: 20vw;
    margin-left: 1.6vw;
    border-radius: 2vw;
}
.mango{
  width: 100%;
  height: 100%;
  border-radius: 0.7vw;
}
.abcd{
    margin-top: -5vw;
    text-align: left;
   
}
.abcd:hover{
    color: blanchedalmond;
}
.tamato{
    font-size: 1.5vw;
    text-decoration: none;
}
.tamato:hover{
    color: red;
    transition: 1s;
}
/* aniket work css */
#mainn {

    width: 100vw;
    height: 60vw;
    text-align: center;

}

#p1 {
    font-size: 2.7vw;

    color: rgba(255, 166, 0, 0.753);
}

#pp {
    padding-top: 2vw;
    font-size: 1.9vw;
    color: rgba(0, 0, 0, 0.616);
}

#main2 {
    margin-top: 5vw;
    height: 15vw;
}

.card1 {
    width: 16vw;
    height: 12vw;
    float: left;
    margin-left: 13vw;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 7px 7px 5px rgba(128, 128, 128, 0.473);
    border-radius: 2vw;
    transition-property: left, top, ;
    transition-duration: .2s, .2s;

}

.card1:hover {
    width: 17vw;
    height: 13vw;

}


.card2 {
    width: 16vw;
    height: 12vw;
    float: left;
    margin-left: 3vw;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 7px 7px 5px rgba(128, 128, 128, 0.473);
    border-radius: 2vw;
    transition-property: left, top, ;
    transition-duration: .2s, .2s;

}
.card2:hover {
    width: 17vw;
    height: 13vw;

}

.card3 {
    width: 16vw;
    height: 12vw;
    float: left;
    margin-left: 3vw;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 7px 7px 5px rgba(128, 128, 128, 0.473);
    border-radius: 2vw;
    transition-property: left, top, ;
    transition-duration: .2s, .2s;

}
.card3:hover {
    width: 17vw;
    height: 13vw;

}

.card4 {
    width: 16vw;
    height: 12vw;
    float: left;
    margin-left: 3vw;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 7px 7px 5px rgba(128, 128, 128, 0.473);
    border-radius: 2vw;
    transition-property: left, top, ;
    transition-duration: .2s, .2s;

}
.card4:hover {
    width: 17vw;
    height: 13vw;

}

.card5 {
    width: 16vw;
    height: 12vw;
    float: left;
    margin-left: 13vw;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 7px 7px 5px rgba(128, 128, 128, 0.473);
    border-radius: 2vw;
    transition-property: left, top, ;
    transition-duration: .2s, .2s;

}
.card5:hover {
    width: 17vw;
    height: 13vw;

}

.card6 {
    width: 16vw;
    height: 12vw;
    float: left;
    margin-left: 3vw;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 7px 7px 5px rgba(128, 128, 128, 0.473);
    border-radius: 2vw;
    transition-property: left, top, ;
    transition-duration: .2s, .2s;

}
.card6:hover {
    width: 17vw;
    height: 13vw;

}

.card7 {
    width: 16vw;
    height: 12vw;
    float: left;
    margin-left: 3vw;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 7px 7px 5px rgba(128, 128, 128, 0.473);
    border-radius: 2vw;
    transition-property: left, top, ;
    transition-duration: .2s, .2s;

}
.card7:hover {
    width: 17vw;
    height: 13vw;

}

.card8 {
    width: 16vw;
    height: 12vw;
    float: left;
    margin-left: 3vw;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-shadow: 7px 7px 5px rgba(128, 128, 128, 0.473);
    border-radius: 2vw;transition-property: left, top, ;
    transition-duration: .2s, .2s;

}
.card8:hover {
    width: 17vw;
    height: 13vw;

}

.icon1 {
    color: rgba(255, 166, 0, 0.753);
    font-size: 4vw;
    margin: 2vw;

}

.icon2 {
    color: rgba(255, 166, 0, 0.753);
    font-size: 4vw;
    margin: 2vw;
}

.icon3 {
    color: rgba(255, 166, 0, 0.753);
    font-size: 4vw;
    margin: 2vw;
}

.icon4 {
    color: rgba(255, 166, 0, 0.753);
    font-size: 4vw;
    margin: 2vw;
}

.icon5 {
    color: rgba(255, 166, 0, 0.753);
    font-size: 4vw;
    margin: 2vw;
}

.icon6 {
    color: rgba(255, 166, 0, 0.753);
    font-size: 4vw;
    margin: 2vw;
}

.icon7 {
    color: rgba(255, 166, 0, 0.753);
    font-size: 4vw;
    margin: 2vw;
}

.icon8 {
    color: rgba(255, 166, 0, 0.753);
    font-size: 4vw;
    margin: 2vw;
}

p {
    color: rgba(0, 0, 0, 0.616);
    font-size: 1.5vw;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.644);
}

.lee{
    list-style: none;
    margin-left: 1vw;
    margin-top: 3vw;
}

list{
    margin-left: 20vw;
    font-size: 1.3vw;
    display: inline-block;
    
}
/* ===========================================================MOBILE VIEW ======================================================================================== */

@media screen and (max-width:1000px)
{
    .but{
        margin-top: 0vw;
    }
    button{
        height: 3vw;
        margin-top: 0vw;
    }
    .box-content{
        height: 10vw;
    }
    .nav{
    
    }
    li{
        font-size: 2vw;
    }
    .list{
        margin-left: -1vw;
        margin-top: 1vw;
    }
    .list2{
        margin-left: -4vw;
        margin-top: 1vw;
    }
    .abcd{
        display: none;
    }
}
/* /*==============================================================MOBILE VIEW END================================================================================ */

/* =============================================================TABLET VIEW ======================================================================================= */


@media screen and (min-width:768px) and (max-width:1023px){


}
/* ========================================================= end tabalet view========================================================================================*/